{% extends 'base.html.twig' %}

{% block title %}Registro
{% endblock %}

{% block body %}

<div class="row">
    {% embed "partials/_card6.html.twig" %}
        {% block titulo %}
            Registro de Usuarios
        {% endblock %}
        {% block cuerpo %}
            
            {{form_start(formulario)}}
            {{form_row(formulario.email, 
            {'attr': {
                    'class': 'form-control mb-2'}
            })
            }}

            {{form_row(formulario.nombre, 
            {   'attr': {
                    'class': 'form-control mb-2'
                    }
            })
            }}

            {{form_row(formulario.apellido, 
            {   'attr': {
                    'class': 'form-control mb-2'
                    }
            })
            }}

            {{form_row(formulario.tipo, 
            {   'attr': {
                    'class': 'form-control mb-2'
                    }
            })
            }}

            {{form_row(formulario.plain_password, 
            {   'label': 'Contraseña',
            'attr': {
                    'class': 'form-control mb-2'
                    }
            })
            }}

            {{form_row(formulario.submit, 
            {   
            'label': 'Enviar',
            'attr': {
                    'class': 'btn btn-primary mb-2'
                    }
            })
            }}
            {{form_end(formulario)}}

            <a href="{{path("app_login")}}" class="text-primary text-center">Ya tienes cuenta ingresa aqui</a>
        {% endblock %}
    {% endembed %}
</div>

{% endblock %}
